<!--The whole content below can be removed with the new code.-->
<div style="text-align:left">

  <h1> Welcome to {{title}}!! </h1>

  <app-data-binding></app-data-binding>

  <!-- Outro module somente de eventos -->
  <app-data-binding-event></app-data-binding-event>

  <!-- Modulo do clico de vida do angular -->
  <br>
  <br>
  <app-ciclo [valorInicial] = "valor" *ngIf="!destroiComponente"></app-ciclo>
  <button class="btn btn-primary" (click) = "onClickMudarValor()" >Mudar valor</button>
  <button class="btn btn-primary" (click) = "onClickDestruir()" >Destruir</button>

</div>
